[project]
	description = Meteor app for coordinating solving for our MIT Mystery Hunt team
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Christopher Buck (Butterwell)
[access "refs/for/refs/*"]
	read = group user/Christopher Buck (Butterwell)
	push = group user/Christopher Buck (Butterwell)
	label-Code-Review = -2..+2 group user/Christopher Buck (Butterwell)
	label-Verified = -1..+1 group user/Christopher Buck (Butterwell)
	rebase = group user/Christopher Buck (Butterwell)
	removeReviewer = group user/Christopher Buck (Butterwell)
	submit = group user/Christopher Buck (Butterwell)
[access "refs/heads/*"]
	read = group user/Christopher Buck (Butterwell)
	create = group user/Christopher Buck (Butterwell)
	push = +force group user/Christopher Buck (Butterwell)
	pushMerge = group user/Christopher Buck (Butterwell)
[access "refs/tags/*"]
	push = +force group user/Christopher Buck (Butterwell)
	pushTag = group user/Christopher Buck (Butterwell)
	pushSignedTag = group user/Christopher Buck (Butterwell)
